.weekContainer {
     box-sizing: border-box;
    padding: 0 .2rem;
  display: grid;
  justify-content: center;
  align-items: start; /* important for dropdowns */
  grid-template-columns: 5rem repeat(5, 1fr); /* time column + 5 weekdays */
  grid-template-rows:  2rem 2rem repeat(10, 3rem); /* header row + 11 lesson slots */
  gap: 0.2rem; /* small spacing between cells */
  border: 0.1rem solid #ccc;
  font-size: 1rem; /* base for rem units */
}




.dayContainer{
    font-weight: bold;
    background-color: gray;
    color: white;
    margin: 1px -1px 0 1px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

