.weekContainer{
    display: grid;
    justify-content: center;
    align-items: center;
     grid-template-columns:
    80px          /* time column */
    repeat(5, 1fr);

  grid-template-rows: 30px 30px repeat(11, 60px);

  border: 1px solid #ccc;
   
}



.dayContainer{
    font-weight: bold;
    background-color: gray;
    color: white;
    border: white 1px solid;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekdayLabel{
    background: #8eaadb;
}